
@charset "UTF-8";


body {
    font-family: Arial, sans-serif;
    background-color: #c4c4c4 !important;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #8ecae6 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #78c850;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #0073e6;
}

.card h5 {
    color: #333333;
}

#cards{
    text-align: center;
    width: auto;
}

#icon-update{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
}
#icon-support{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
}

#icon-shield-lock{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
    
}

#icon-file-lock{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
}

#icon-incognito{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
}

#icon-globe{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
}

#icon-envelope{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
}

#icon-bag{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
}

#icon-person-lock{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
}

#icon-virus{
    color: #000000;
    font-size: 12.2rem;
    text-align: center;
}
  
footer {
    background-color: #0073e6;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
